

.masterBoxIndex {
    width: 100%;
    height: 100vh;

    background-size: cover;
    background-color: white;
    z-index: 0;

    animation-name: backgroundSlide;
    animation-duration: 60s;
    animation-iteration-count: infinite;

    transition: 2s;
    display: grid;
    grid-template-columns: auto 250px auto;
    grid-template-rows: 60px 120px 225px 25px 65px 5px 30px auto 55px;

    overflow: hidden;

    /* 
    grid-template-columns:
        auto: espacio vacio
        --------------------
        250px: .boxLogo
        --------------------
        auto: espacio vacio
    
    grid-template-rows:
        60px: header
        --------------------
        120: espacio vacio
        --------------------
        225px: .boxLogo
        25px: margen
        65px: DELTA
        5px: margen
        30px: DESARROLLADORA
        --------------------
        auto: espacio vacio
        --------------------
        55px: footer
    */
}

/* CUANDO HAGA LOS MEDIAQUERYS PARA VISTA DE TELEFONO USAR FOTOS VERTICALES */

@keyframes backgroundSlide {

    0% {background-image: url(../img/img/imgSlide/01.png);}

    17% {background-image: url(../img/img/imgSlide/01.png);}

    20% {background-image: url(../img/img/imgSlide/02.png);}

    37% {background-image: url(../img/img/imgSlide/02.png);}

    40% {background-image: url(../img/img/imgSlide/03.png);}

    57% {background-image: url(../img/img/imgSlide/03.png);}
    
    60% {background-image: url(../img/img/imgSlide/04.png);}

    77% {background-image: url(../img/img/imgSlide/04.png);}

    80% {background-image: url(../img/img/imgSlide/05.png);}

    97% {background-image: url(../img/img/imgSlide/05.png);}

    100% {background-image: url(../img/img/imgSlide/01.png);}
}

.boxLogo {
    width: 250px;
    height: 225px;
    grid-column-start: 2;
    grid-row-start: 3;

    position: relative;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.franja1 {
    position: absolute;
    height: 100%;
    left: -50px;
    z-index: 3;
    filter: drop-shadow(0px 4px 5px black);

    animation: franja1;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    
    opacity: 0;
    transform: translateY(50px);
}

@keyframes franja1 {
    
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        left: 0;
        transform: translateY(0);
    }
}

.franja2 {
    position: absolute;
    height: 72.3%;
    right: 50px;
    bottom: 0;
    z-index: 2;
    filter: drop-shadow(0px 4px 5px black);

    animation: franja2;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    
    opacity: 0;
    transform: translateY(-50px);
}

@keyframes franja2 {
    
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        right: 0;
        transform: translateY(0);
    }
}

.franja3 {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
    filter: drop-shadow(0px 4px 5px black);

    animation: franja3;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    
    opacity: 0;
    transform: translateX(-50px);
}

@keyframes franja3 {
    
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.deltaTextBox {
    width: 250px;
    height: 65px;

    display: grid;
    grid-template-columns: auto auto auto auto auto;

    grid-column-start: 2;
    grid-row-start: 5;
}

.detaText {
    height: 65px;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    opacity: 0;
    transition: 1s;
}

.d {
    grid-column-start: 1;
    opacity: 0;

    animation: letterD;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;   
}

@keyframes letterD {
    
    0% {
        opacity: 0;
        filter: drop-shadow(-7px 12px 34px rgba(0,0,0,0));
    }

    100% {
        opacity: 1;
        filter: drop-shadow( 0px 3px 5px rgba(0,0,0,0.62));
    }
}

.e {
    grid-column-start: 2;
    opacity: 0;
    transform: translateX(4px);

    animation: letterE;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2.4s;   
}

@keyframes letterE {
    
    0% {
        opacity: 0;
        filter: drop-shadow(-7px 12px 34px rgba(0,0,0,0));
    }

    100% {
        opacity: 1;
        filter: drop-shadow( 0px 3px 5px rgba(0,0,0,0.62));
    }
}

.l {
    grid-column-start: 3;
    opacity: 0;
    transform: translateX(8px);

    animation: letterL;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2.8s;   
}

@keyframes letterL {
    
    0% {
        opacity: 0;
        filter: drop-shadow(-7px 12px 34px rgba(0,0,0,0));
    }

    100% {
        opacity: 1;
        filter: drop-shadow( 0px 3px 5px rgba(0,0,0,0.62));
    }
}

.t {
    grid-column-start: 4;
    opacity: 0;

    animation: letterT;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 3.2s;   
}

@keyframes letterT {
    
    0% {
        opacity: 0;
        filter: drop-shadow(-7px 12px 34px rgba(0,0,0,0));
    }

    100% {
        opacity: 1;
        filter: drop-shadow( 0px 3px 5px rgba(0,0,0,0.62));
    }
}

.a {
    grid-column-start: 5;
    opacity: 0;
    transform: translateX(-6px);

    animation: letterA;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 3.6s;   
}

@keyframes letterA {
    
    0% {
        opacity: 0;
        filter: drop-shadow(-7px 12px 34px rgba(0,0,0,0));
    }

    100% {
        opacity: 1;
        filter: drop-shadow( 0px 3px 5px rgba(0,0,0,0.62));
    }
}


.desarrolladoraText {
    width: 98%;

    margin: auto;
    transform: translateX(2px);
    opacity: 0;

    grid-column-start: 2;
    grid-row-start: 7;

    animation: desarrolladora;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 4s;
}

@keyframes desarrolladora {
    
    0% {
        opacity: 0;
        filter: drop-shadow(-7px 12px 34px rgba(0,0,0,0));
    }

    100% {
        opacity: 1;
        filter: drop-shadow( 0px 2px 4px rgba(0, 0, 0, 0.356));
    }
}
