

header {
    width: 100%;
    height: 70px;
    z-index: 2;
    border-bottom: 3px solid rgba(56, 56, 56, 0.212);
    top: 0;

    background-color: rgba(255, 255, 255, 0.164);
    transition: 1s;

    display: grid;
    grid-template-columns: 20px 170px auto 380px 20px;
    grid-template-rows: 10px 50px 10px;

    &:hover {
        background-color: #ffffffa9;
        box-shadow: 0px 2px 15px 6px rgba(0, 0, 0, 0.39);
    }
}

.headerLogoA {
    width: 170px;
    height: 50px;

    position: relative;

    grid-column-start: 2;
    grid-row-start: 2;
}

.headerLogo {
    width: 170px;
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    &:hover {
        filter: drop-shadow(0px 0px 8px white);
    }
}

.itemMenu {
    display: none;
}

.headerNavContainer {
    width: 380px;
    height: 50px;

    grid-column-start: 4;
    grid-row-start: 2;

    display: grid;
    grid-template-columns: 120px 10px 120px 10px 120px;
    transition: .6s;

    &:hover .headerItems .menuLink {
        transform: scale(1.05);
        opacity: 0.95;
        filter: blur(3px);
        text-shadow: 0px 0px 4px #0000005d;
    }

    .headerItems .menuLink:hover {
        transform: scale(1.5);
        opacity: 1;
        filter: blur(0px);
        text-shadow: 0px 0px 3px #0000005d, 0px 0px 8px #fcfbfb;
    }
}

.headerItems {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    color: #0a2c48;
    font-weight: 600;
    list-style: none;
    text-align: center;
    line-height: 43px;
}

.menuLink {
    text-decoration: none;
    color: #0a2c48;
    transition: 1s;
}

.itemAcerca {
    grid-column-start: 1;
}

.itemProyectos {
    grid-column-start: 3;
}

.itemContacto {
    grid-column-start: 5;
}