

@media (min-width: 500px) {

     .masterBoxIndex {
        display: grid;
        grid-template-columns: 35px 140px 14px 245px 35px auto 14px;
        grid-template-rows: 70px 80px 21px 63px 7px 28px 7px auto;
    
        /* 
        grid-template-columns:
            35px: espacio vacio
            140px: ancho logo
            14: margen
            245px: ancho deltaBox
            35px: espacio vacio
            auto: espacio informacion home
            14px: margen

        grid-template-rows:
            70px: header
            80px: espacio vacio
            --------------------
            21px: margen
            63px: DELTA
            7px: margen
            28px: DESARROLLADORA
            7px: margen
            --------------------
            auto: espacio vacio
        */
    }
    
    /* CUANDO HAGA LOS MEDIAQUERYS PARA VISTA DE TELEFONO USAR FOTOS VERTICALES */
    
    @keyframes backgroundSlide {
    
        0% {background-image: url(../img/img/big-trees-small-plants-house-read-studio_10.jpg);}
    
        17% {background-image: url(../img/img/big-trees-small-plants-house-read-studio_10.jpg);}
    
        20% {background-image: url(../img/img/centro-de-visitantes-fundacion-luis-munoz-marin-toro-arquitectos_1.jpg);}
    
        37% {background-image: url(../img/img/centro-de-visitantes-fundacion-luis-munoz-marin-toro-arquitectos_1.jpg);}
    
        40% {background-image: url(../img/img/centro-de-visitantes-fundacion-luis-munoz-marin-toro-arquitectos_7.jpg);}
    
        57% {background-image: url(../img/img/centro-de-visitantes-fundacion-luis-munoz-marin-toro-arquitectos_7.jpg);}
        
        60% {background-image: url(../img/img/big-trees-small-plants-house-read-studio_13.jpg);}
    
        77% {background-image: url(../img/img/big-trees-small-plants-house-read-studio_13.jpg);}
    
        80% {background-image: url(../img/img/centro-de-visitantes-fundacion-luis-munoz-marin-toro-arquitectos_4.jpg);}
    
        97% {background-image: url(../img/img/centro-de-visitantes-fundacion-luis-munoz-marin-toro-arquitectos_4.jpg);}
    
        100% {background-image: url(../img/img/big-trees-small-plants-house-read-studio_10.jpg);}
    }
    
    .boxLogo {
        width: 140px;
        height: 126px;
        grid-column-start: 2;
        grid-row: 3 / 8;
    }
    
    .franja1 {
        left: -70px;
        transform: translateY(70px);
    }
    
    .franja2 {
        right: 70px;
        transform: translateY(-70px);
    }
    
    .franja3 { transform: translateX(-70px); }

    .deltaTextBox {
        width: 245px;
        height: 63px;
    }
    
    .detaText { height: 63px; }
    
    .e { transform: translateX(6px); }
    
    .l { transform: translateX(12px); }
    
    .a { transform: translateX(-9px); }
       
    .desarrolladoraText { transform: translateX(3px); }

}

@media (min-width: 690px) {

    /* - - - - - - - INDEX - - - - - - - */

    .masterBoxIndex {
        display: grid;
        grid-template-columns: 50px 200px 20px 350px 50px auto 20px;
        grid-template-rows: 70px 100px 30px 90px 10px 40px 10px auto;
    
        /* 
        grid-template-columns:
            50px: espacio vacio
            200px: ancho logo
            20px: margen
            350px: ancho deltaBox
            50px: espacio vacio
            auto: espacio informacion home
            20px: margen
        
        grid-template-rows:
            70px: header
            auto: espacio vacio
            --------------------
            30px: margen
            90px: DELTA
            10px: margen
            40px: DESARROLLADORA
            10px: margen
            --------------------
            auto: espacio vacio
        */
    }
    
    /* CUANDO HAGA LOS MEDIAQUERYS PARA VISTA DE TELEFONO USAR FOTOS VERTICALES */
    
    @keyframes backgroundSlide {
    
        0% {background-image: url(../img/img/big-trees-small-plants-house-read-studio_10.jpg);}
    
        17% {background-image: url(../img/img/big-trees-small-plants-house-read-studio_10.jpg);}
    
        20% {background-image: url(../img/img/centro-de-visitantes-fundacion-luis-munoz-marin-toro-arquitectos_1.jpg);}
    
        37% {background-image: url(../img/img/centro-de-visitantes-fundacion-luis-munoz-marin-toro-arquitectos_1.jpg);}
    
        40% {background-image: url(../img/img/centro-de-visitantes-fundacion-luis-munoz-marin-toro-arquitectos_7.jpg);}
    
        57% {background-image: url(../img/img/centro-de-visitantes-fundacion-luis-munoz-marin-toro-arquitectos_7.jpg);}
        
        60% {background-image: url(../img/img/big-trees-small-plants-house-read-studio_13.jpg);}
    
        77% {background-image: url(../img/img/big-trees-small-plants-house-read-studio_13.jpg);}
    
        80% {background-image: url(../img/img/centro-de-visitantes-fundacion-luis-munoz-marin-toro-arquitectos_4.jpg);}
    
        97% {background-image: url(../img/img/centro-de-visitantes-fundacion-luis-munoz-marin-toro-arquitectos_4.jpg);}
    
        100% {background-image: url(../img/img/big-trees-small-plants-house-read-studio_10.jpg);}
    }
    
    .boxLogo {
        width: 200px;
        height: 180px;
        grid-column-start: 2;
        grid-row: 3 / 8;
    }
    
    .franja1 {
        left: -100px;
        transform: translateY(100px);
    }
       
    .franja2 {
        right: 100px;
        transform: translateY(-100px);
    }
    
    .franja3 {
        width: 100%;
        transform: translateX(-100px);
    }
    
    .deltaTextBox {
        width: 350px;
        height: 90px;
    }
    
    .detaText { height: 90px; }
    
    .e { transform: translateX(8px); }

    
    .l { transform: translateX(16px); }
    
    .a { transform: translateX(-13px); }     
    
    .desarrolladoraText { transform: translateX(5px); }

}